<form class="mt-3 col-md-12 offset-md-3" [formGroup]="employeeForm" (ngSubmit)="onSave()">
  <div class="form-row mt-2">
    <div class="form-group col-md-6">
      <input type="text" name="name" placeholder="Name" class="form-control" formControlName="name">
    </div>
  </div>
  <div class="form-row mt-2">
    <div class="form-group col-md-6">
      <input type="text" name="lastName" placeholder="Last name" class="form-control" formControlName="lastName">
    </div>
  </div>
  <div class="form-row mt-2">
    <div class="form-group col-md-6">
      <input type="email" name="name" placeholder="Email" class="form-control" formControlName="email">
    </div>
  </div>
  <div class="form-row mt-2">
    <div class="form-group col-md-6">
      <input type="text" name="startDate" placeholder="Last name" class="form-control" formControlName="startDate">
    </div>
  </div>
  <button type="submit" class="btn bg-dark btn-block text-light">Save</button>
</form>